img {
    width: 32%
}

@media (max-width: 1000px) {
    img {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    body {
        background-color: green;
    }
}

@media (min-width: 1081px) {
    body {
        background-color: red;
    }
}

